<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fruitguy.workoutpartner">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_chest_bench"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_chest_bench_round"
        android:supportsRtl="true"
        android:name=".WorkoutApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".main.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="@string/nearby_api_key" />

        <activity android:name=".authentication.AuthenticationActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity android:name=".profile.ProfileActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".user.UserActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.fruitguy.workoutpartner.ACTION_NOTIFICATION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".chat.ChatActivity"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".main.MainActivity"/>

        <service android:name="services.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>